body {
  font: 400 17px/1.47059 "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f5f5f7;
  color: #1D1D1F;
  margin: 0px;
}
main{

margin: 50px;
}
.text-Meu-Portifolio{
  font-size: 24px;
}
#icon{
font-size: 2rem;
}
.MeuNome, .devNome {
  font-size: 24px;
  color: #1D1D1F;
}

header {
  padding: 15px;
  background: #121212;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

header a {
 
  color: #ffffff;

}

.gray-text, .black-text {
  font: 400 17px/1.47059 "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.gray-text {
  color: #1D1D1F;
}

.black-text {
  color: gray;
}
.qualificacoes {
  opacity: 0;
  transform: translateY(-50px);
  animation: slideDown 1s ease forwards;
  display: flex;
  background-color: #fff;
  border-radius: 18px;
  padding: 30px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}
.item-list-div{
  padding: 25px;
}
.footer-list {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.list-linguagem-utilizada {
  display: flex;
gap: 20px;
  align-items: center;
}

.apresentacao p{
 
  width: 700px;
  text-align: justify;
}
.legal-footer {
  display: flex;flex-direction: column;
  padding: 25px;
  align-items:center;
}
.list-portfolio{
  display: flex;
  gap: 40px;
}
.list-portfolio article i{
  font-size: 3rem;
}
.list-portfolio article{
display: flex;
flex-direction: column;
align-items: center;
} 
.list-portfolio article p{
   font-weight: 700;
}
a { 
  text-decoration: none;
  color: black;
}

.list-item-misc div p {
 
  font-weight: 600;
  color: black;
}

.list-item-misc div:hover {
  cursor: pointer;
  box-shadow: 12px 2px 8px rgba(0, 0, 0, 0.08);
}

.list-item-misc div {
  gap: 15px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 18px;
  padding-left: 25px;
  padding-right:25px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.item-descricao{
  text-align: justify;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 6);
}
.list-item-misc {
  align-items: start;
  display: flex;
  gap: 10px;
}

#phone{
  flex-wrap: nowrap;
display: flex;


}
 .devices img {
  width: 250px; /* Defina o tamanho desejado em pixels */
  height: auto; /* Isso manterá a proporção original da imagem */
  /* Outros estilos que você deseja aplicar às imagens */
}
.devices{
  display: flex;
}

@media (max-width: 1208px) {

  #phone {
    display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    
  /* Outros estilos para telas menores aqui */
}@keyframes slideDown {
  0% {
      opacity: 0;
      transform: translateY(-50px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}